* {
    box-sizing: border-box;
}

html {
    background-color: #fafdff;
}

h1 {
    display: block;
    width: 900px;
    color: #333;
    font-size: 36px;
    text-align: left;
    margin: 50px auto;
}

a {
    text-decoration: none;
    color: #333;
}

a:visited {
    color: #4b0082;
}

label,
p {
    color: #333;
}

button {
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn {
    display: flex;
    gap: 50px;
    margin-top: 80px;
}

.btn button:first-child {
    background-color: #ed6d35;
}

.btn button:last-child {
    background-color: #008db7;
}

/* login.blade.php */

.ul__product-blade--wrap {
    position: relative;
    height: 50px;
}

.ul__product-blade {
    position: absolute;
    top: 20px;
    right: 30px;
}

.ul__product-blade li {
    list-style: none;
    margin-bottom: 10px;
}

.ul__product-blade li a {
    text-decoration: none;
}

.h1__login {
    width: 500px;
    text-align: center;
}

.form__login {
    width: 500px;
    margin: 0 auto 50px;
    padding: 50px;
}

.form__login div input {
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
}

.btn__login button {
    width: 130px;
    margin: 0 auto;
    border-radius: 20px;
}

/* register.blade.php */
.h1__register {
    width: 500px;
    text-align: center;
}

.form__user {
    width: 500px;
    margin: 0 auto 50px;
    padding: 50px;
}

.form__user div input {
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
}

.btn__register button {
    width: 130px;
    margin: 0 auto;
    border-radius: 20px;
}

/* index.blade.php */

.form__sort {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto 50px;
}

.form__sort div {
    width: 80%;
}

.form__sort div input,
.form__sort div select {
    padding: 5px;
    width: 40%;
}

.form__sort div select {
    margin-left: 10px;
}

.form__sort button {
    padding: 5px 20px;
}

.table__list {
    border: #333 solid 1px;
    width: 900px;
    margin: 0 auto 100px;
}

.table__list tr th,
.table__list tr td {
    color: #333;
    padding: 10px;
    text-align: center;
}

.table__list thead tr button {
    background-color: #ed6d35;
}

.table__list tr:nth-child(2n) {
    background-color: #d3d3d8;
}

.list__btn--detail {
    background-color: #008db7;
}

.list__btn--remove {
    color: #fafdff;
    background-color: #dc143c;
}

/* product_regist.blade.php */

.h1__regist {
    width: 600px;
}

.form__product-regist {
    border: #333 solid 1px;
    padding: 50px 50px 20px;
    width: 600px;
    margin: 0 auto 100px;
}

.form__product-regist .require label::after {
    content: "※";
    display: inline-block;
    color: #dc143c;
}

.form__product-regist>div {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.form__product-regist>div label {
    display: block;
    width: 30%;
    padding: 5px;
    align-items: first baseline;
}

.form__product-regist div input,
.form__product-regist div select,
.form__product-regist div textarea {
    width: 50%;
    padding: 5px;
}

/* detail.blade.php */

.table__detail--wrap {
    border: #333 solid 1px;
    width: 900px;
    margin: 0 auto 50px;
    padding: 50px;
}

.table__detail tr th,
.table__detail tr td {
    display: inline-block;
    padding: 10px 10px 10px 0;
    margin-bottom: 20px;
    text-align: left;
}

.table__detail {
    width: 100%;
}

.table__detail tr th {
    width: 20%;
}

.table__detail tr td {
    border: #d3d3d8 solid 1px;
    border-radius: 5px;
    width: 40%;
}

/* edit.blade.php */

.form__update {
    border: #333 solid 1px;
    width: 900px;
    margin: 0 auto 50px;
    padding: 50px;
}

.form__update div {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.form__update div label {
    display: block;
    width: 15%;
    padding: 5px;
    align-items: first baseline;
}

.form__update div input,
.form__update div select,
.form__update div textarea {
    width: 40%;
    padding: 5px;
}

.form__update .require label::after {
    content: "※";
    display: inline-block;
    color: #dc143c;
}

.update-id p {
    display: block;
    padding: 5px;
}